## Introduction to <a href="https://matplotlib.org/">matplotlib</a>

#### Note for Jenny: For ICFJ, do global/international/Iranian or company datasets. For mapping, make sure to do something in Iran or country-level, NOT bay area/sf specific - do JHU or CDC, not DataSF for COVID (global or Iranian numbers)

### Importing matplotlib and other libraries

Make sure you first have matplotlib installed locally if you're running this notebook locally! If you have Python 3, run <strong>pip3 install matplotlib</strong> on the terminal before running the cells below.

In [8]:
from matplotlib import pyplot as plt

In [2]:
# importing any other necessary libraries below

import numpy as np
import pandas as pd

### Getting started and making basic charts with matplotlib

#### Step 1: Importing the dataset for your visualizations

Let's import the <a href="https://iranopendata.org/en/dataset/iod-03222-crude-birth-rate-death-rate-child-mortality-rate-in-selected-countries-world-202">crude birth rate, death rate and child mortality rate in selected countries of the world</a> from Iran Open Data, Iran's open data portal. This specific dataset has raw birth, death and child mortality rates from different countries in 2020.

If you want to download the dataset directly, you can also access the dataset from <a href="https://raw.githubusercontent.com/kwonjs/datasets-to-use/main/iod-03222-crude-birth-rate-death-rate-child-mortality-rate-in-selected-countries-world-202-en.csv">this github link.</a>

In [7]:
# import the dataset below - make sure that if you're not importing from a URL that you first 
# upload the raw dataset to jupyter notebook

# import dataset as a 'dataframe' (df) to analyze in python
url = "https://raw.githubusercontent.com/kwonjs/datasets-to-use/main/iod-03222-crude-birth-rate-death-rate-child-mortality-rate-in-selected-countries-world-202-en.csv"
df = pd.read_csv(url)

# to make sure the data is showing up properly for basic analysis and charting/graphing
# df.head(50)

Let's take a look at this dataset. What  <strong>variables/columns</strong> are we working with?

#### Step 2: Cleaning your dataset

Sometimes you will be lucky and have a clean dataset that you can immediately start visualizing. But more often than not, you will have to clean your dataset. Cleaning involves "fixing or removing incorrect, corrupted, incorrectly formatted, duplicate, or incomplete data within a dataset" (<a href="https://www.tableau.com/learn/articles/what-is-data-cleaning">Tableau</a>).

In [13]:
# let's look at the first 10 rows of this dataset

df.head(10)

,Region and country - Asia,Crude birth rate - per thousand population,Crude death rate - per thousand population,Child mortality rate is less than - One year - per thousand live births
0,asia,17,7,27.0
1,"Azerbaijan, Republic of - Asia",14,6,11.0
2,Jordan - Asia,22,4,17.0
3,Armenia - Asia,12,9,6.0
4,Uzbekistan - Asia,23,5,11.0
5,Afghanistan - Asia,33,6,50.0
6,United Arab Emirates - Asia,11,1,6.0
7,Indonesia - Asia,18,7,25.0
8,"Iran, Islamic Republic - Asia",17,5,6.0
9,Bahrain - Asia,14,2,6.0

In [14]:
# let's also look at the last 10 rows of this dataset

df.tail(10)

,Region and country - Asia,Crude birth rate - per thousand population,Crude death rate - per thousand population,Child mortality rate is less than - One year - per thousand live births
77,Europe - France,11,9,3.6
78,Europe - Finland,8,10,2.1
79,Europe - Poland,10,11,3.7
80,Europe - Hungary,9,13,3.8
81,Europe - Norway,10,8,2.1
82,Europe - Netherlands,10,9,3.5
83,Europe - Greece,8,11,3.5
84,Oceania,17,7,16.0
85,Oceania - Australia,13,6,3.1
86,Oceania - New Zealand - New Zealand,12,7,4.5

In [ ]:
# we notice that in the first column "Region and country - Asia" that most rows have either 
# the country (i.e. Indonesia, 'Iran, Islamic Republic') or the region (i.e. Europe, Asia)
# and a dash separating the two 

# however, there are issues. some rows have the country first, then the region. 
# other rows have the region first, then the country. additionally, some rows 
# are the average rates for an entire region (i.e. Oceania in row 84).

In [16]:
# let us add three new columns to the dataframe (it would be two columns, but 
# some rows have multiple dashes due to error)
# we will split the columns based on the dash '-'
df[['Region','Country', 'Misc']] = df['Region and country - Asia'].str.split("-",expand=True)

In [20]:
# now let's look at the new df
# you should see three new columns titled 'Region', 'Country' 
# and 'Misc' (the third column to catch duplicate values)
df.head(40)

,Region and country - Asia,Crude birth rate - per thousand population,Crude death rate - per thousand population,Child mortality rate is less than - One year - per thousand live births,Region,Country,Misc
0,asia,17,7,27.0,asia,None,None
1,"Azerbaijan, Republic of - Asia",14,6,11.0,"Azerbaijan, Republic of",Asia,None
2,Jordan - Asia,22,4,17.0,Jordan,Asia,None
3,Armenia - Asia,12,9,6.0,Armenia,Asia,None
4,Uzbekistan - Asia,23,5,11.0,Uzbekistan,Asia,None
5,Afghanistan - Asia,33,6,50.0,Afghanistan,Asia,None
6,United Arab Emirates - Asia,11,1,6.0,United Arab Emirates,Asia,None
7,Indonesia - Asia,18,7,25.0,Indonesia,Asia,None
8,"Iran, Islamic Republic - Asia",17,5,6.0,"Iran, Islamic Republic",Asia,None
9,Bahrain - Asia,14,2,6.0,Bahrain,Asia,None
10,Bangladesh - Asia,21,5,34.0,Bangladesh,Asia,None
11,Pakistan - Asia,28,6,62.0,Pakistan,Asia,None
12,Tajikistan - Asia,25,4,27.0,Tajikistan,Asia,None
13,Thailand - Asia,10,8,7.0,Thailand,Asia,None
14,Turkmenistan - Asia,23,7,43.0,Turkmenistan,Asia,None
15,Turkey - Asia,18,5,9.0,Turkey,Asia,None
16,China - Asia,10,7,9.0,China,Asia,None
17,Japan - Asia,7,11,1.9,Japan,Asia,None
18,Singapore - Asia,9,5,1.7,Singapore,Asia,None
19,"Syria, Arab Republic - Asia",24,5,17.0,"Syria, Arab Republic",Asia,None
20,Iraq - Asia,27,4,23.0,Iraq,Asia,None
21,Saudi Arabia - Asia,15,3,12.0,Saudi Arabia,Asia,None
22,Oman - Asia,21,2,9.0,Oman,Asia,None
23,Palestine - Asia,30,4,17.0,Palestine,Asia,None
24,Philippines - Asia,22,6,21.0,Philippines,Asia,None
25,Kyrgyzstan - Asia,27,5,15.0,Kyrgyzstan,Asia,None
26,Kazakhstan - Asia,21,7,8.0,Kazakhstan,Asia,None
27,Diameter - Asia,10,1,6.0,Diameter,Asia,None
28,"Korea, Republic of South Korea - Asia",6,6,2.8,"Korea, Republic of South Korea",Asia,None
29,Kuwait - Asia,14,2,7.0,Kuwait,Asia,None
30,Georgia - Asia,13,13,8.0,Georgia,Asia,None
31,Lebanon - Asia,17,5,9.0,Lebanon,Asia,None
32,Malaysia - Asia,16,5,7.0,Malaysia,Asia,None
33,India - Asia,20,6,33.0,India,Asia,None
34,Yemen - Asia,30,6,43.0,Yemen,Asia,None
35,Africa - Africa,34,8,49.0,Africa,Africa,None
36,Africa - South Africa,20,9,25.0,Africa,South Africa,None
37,Africa - Algeria,24,5,21.0,Africa,Algeria,None
38,Africa - Burkina Faso,38,8,52.0,Africa,Burkina Faso,None
39,Africa - Tunisia,17,6,14.0,Africa,Tunisia,None

In [26]:
# let's divide the larger dataframe into smaller dataframes based on region (i.e. Asia, Africa)
# within the separate, smaller dataframes we can then switch column values

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 7 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Region and country - Asia                                                87 non-null     object
 1   Crude birth rate - per thousand population                               87 non-null     int64
 2   Crude death rate - per thousand population                               87 non-null     int64
 3   Child mortality rate is less than - One year - per thousand live births  87 non-null     float64
 4   Region                                                                   87 non-null     object
 5   Country                                                                  81 non-null     object
 6   Misc                                                                     1 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 4.9+ KB

#### Step 3: Doing some basic filtering and analysis with pandas

<i>For a refresher, refer to the data analysis section (LINK TO SECTION HERE) on how to work with the pandas library!</i>

In [22]:
# filter rows by the 'Analysis Neighborhood' area_type, which is associated with specific districts
# within San Francisco (i.e. Bayview Hunters Point)

neighborhood_cases = cases_raw[cases_raw['area_type']=='Analysis Neighborhood']

In this dataset, there's a column called "new_confirmed_cases." We can use the <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html">groupby</a> function on the dataframe of cases by neighborhood (neighborhood_cases) to get the total number of cases in all of SF's neighborhoods (in other words, in all of SF) by date.

In [31]:
new_cases_byday = neighborhood_cases.groupby('specimen_collection_date').sum()['new_confirmed_cases']

/var/folders/81/wsywmw8s4zl4fn217py78mpm0000gr/T/ipykernel_17398/4197905618.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  new_cases_byday = neighborhood_cases.groupby('specimen_collection_date').sum()['new_confirmed_cases']

In [35]:
# convert the groupby output to a dataframe
new_cases_byday_df = new_cases_byday.to_frame()

# reset the index so that the date column isn't treated as the index
new_cases_byday_df = new_cases_byday_df.reset_index()
new_cases_byday_df

    specimen_collection_date  new_confirmed_cases
0                 2022/03/01                129.0
1                 2022/03/02                102.0
2                 2022/03/03                108.0
3                 2022/03/04                 78.0
4                 2022/03/05                 52.0
..                       ...                  ...
361               2023/02/25                 59.0
362               2023/02/26                 46.0
363               2023/02/27                 98.0
364               2023/02/28                107.0
365               2023/03/01                 87.0

[366 rows x 2 columns]

In [38]:
# let's go back to the neighborhood_cases dataframe
# and let's split the specimen_collection_date into three separate columns
# one column for year, one for month and one for day

neighborhood_cases[['year', 'month', 'day']] = neighborhood_cases['specimen_collection_date'].str.split('/', expand=True)

/var/folders/81/wsywmw8s4zl4fn217py78mpm0000gr/T/ipykernel_17398/36508659.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  neighborhood_cases[['year', 'month', 'day']] = neighborhood_cases['specimen_collection_date'].str.split('/', expand=True)
/var/folders/81/wsywmw8s4zl4fn217py78mpm0000gr/T/ipykernel_17398/36508659.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  neighborhood_cases[['year', 'month', 'day']] = neighborhood_cases['specimen_collection_date'].str.split('/', expand=True)
/var/folders/81/wsywmw8s4zl4fn217py78mpm0000gr/T/ipykernel_17398/36508659.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  neighborhood_cases[['year', 'month', 'day']] = neighborhood_cases['specimen_collection_date'].str.split('/', expand=True)

In [41]:
# we can choose only the variables/columns we care about
# for this specific dataset, we care about the year, month and day of the collection, maybe the population
# of the neighborhood based on the american community survey (acs_population) and 
# new confirmed cases for that specific day in that neighborhood

new_cases_neighborhood = neighborhood_cases[["year", "month", "day", "id", "acs_population", "new_confirmed_cases"]]

In [45]:
# we can further filter new_cases_neighborhood for cases per day in a specific neighborhood (i.e. the Tenderloin)

tenderloin_cases = new_cases_neighborhood[new_cases_neighborhood["id"]=="Tenderloin"]

#### Step 3: Let's make some visualizations as part of our exploratory data analysis

The general format for creating a <strong>bar chart</strong> using matplotlib is:

plt.bar(x, height, width=0.8, bottom=None, *, align='center', data=None, **kwargs)

In [51]:
tenderloin_cases.groupby(['month', 'year']).sum().reset_index()

/var/folders/81/wsywmw8s4zl4fn217py78mpm0000gr/T/ipykernel_17398/1773384349.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tenderloin_cases.groupby(['month', 'year']).sum().reset_index()

   month  year  acs_population  new_confirmed_cases
0     01  2023          921506                 74.0
1     02  2023          832328                 97.0
2     03  2022          921506                 75.0
3     03  2023           29726                  4.0
4     04  2022          891780                156.0
5     05  2022          921506                300.0
6     06  2022          891780                343.0
7     07  2022          921506                270.0
8     08  2022          921506                162.0
9     09  2022          891780                 84.0
10    10  2022          921506                 70.0
11    11  2022          891780                158.0
12    12  2022          921506                188.0

In [ ]:
# our data source will be new_cases_byday_df

# defining the different parameters used to create a bar using matplotlib
bar_x = new_cases_byday_df['']

plt.bar()