# 1.2 Basics of statistics

Basic statistics operations, e.g. median, average, standard deviation

References
https://www.geeksforgeeks.org/use-pandas-to-calculate-statistics-in-python/

In [2]:
import pandas as pd

In [3]:
athletes = pd.read_csv('../../input/IOD-00932-organized-athletes-categorized-by-sports-and-sex-1398-en.csv')

In [5]:
athletes.head()

          Sports    Total     Male   Female
0          Total  3386522  1973949  1412573
1          Skate    25972     8731    17241
2         Squash     2363      875     1488
3            Ski     2315     1604      711
4  Sports Groups    21067    13803     7264

In [6]:
athletes.describe()

              Total          Male        Female
count  5.200000e+01  5.200000e+01  5.200000e+01
mean   1.302508e+05  7.592112e+04  5.432973e+04
std    4.760102e+05  2.818953e+05  2.027947e+05
min    2.290000e+02  1.370000e+02  0.000000e+00
25%    2.933500e+03  1.604750e+03  8.937500e+02
50%    1.207600e+04  6.859000e+03  3.528500e+03
75%    7.168250e+04  4.480000e+04  2.347225e+04
max    3.386522e+06  1.973949e+06  1.412573e+06

In [7]:
athletes['Percent_Female'] = athletes['Female'] / athletes['Total']

In [8]:
athletes.head()

          Sports    Total     Male   Female  Percent_Female
0          Total  3386522  1973949  1412573        0.417116
1          Skate    25972     8731    17241        0.663830
2         Squash     2363      875     1488        0.629708
3            Ski     2315     1604      711        0.307127
4  Sports Groups    21067    13803     7264        0.344805

In [9]:
athletes['Percent_Female'].max()

0.8815348956992016

In [11]:
athletes['Percent_Female'].min()

0.0

In [13]:
athletes.sort_values('Percent_Female')

,Sports,Total,Male,Female,Percent_Female
46,Traditional Sports & Heroic Wrestling,11415,11415,0,0.000000
9,Boxing,37418,37412,6,0.000160
38,Wrestling,98354,97443,911,0.009262
27,Soccer,604122,577420,26702,0.044200
30,Motorcycle Racing,5434,4884,550,0.101215
21,Bureau of Prisons,2453,2154,299,0.121892
8,Bowling and Billiards,1534,1271,263,0.171447
34,Weightlifting,4019,3177,842,0.209505
22,Traditional Indigenous Games,133829,99327,34502,0.257807
15,Judo,41451,29819,11632,0.280620
18,Biking,7623,5407,2216,0.290699
39,Kung Fu and Martial Arts,58964,41180,17784,0.301608
3,Ski,2315,1604,711,0.307127
19,Martial Arts,118129,80499,37630,0.318550
44,Sports for the Deaf,1460,991,469,0.321233
35,Wushu,56542,37049,19493,0.344753
4,Sports Groups,21067,13803,7264,0.344805
47,Sports for the Wounded in Action & the Disabled,5511,3604,1907,0.346035
11,Table Tennis,16652,10687,5965,0.358215
40,Mountaineering,62792,39837,22955,0.365572
51,Sports for the Blind & Visually Impaired,1584,999,585,0.369318
29,Golf,1302,809,493,0.378648
48,K-12 Sports,140109,84261,55848,0.398604
16,Polo,229,137,92,0.401747
0,Total,3386522,1973949,1412573,0.417116
24,Chess,3826,2225,1601,0.418453
13,Shooting,8928,5026,3902,0.437052
7,Basketball,55722,30698,25024,0.449087
6,Bodybuilding and Body Sculpting,340033,182829,157204,0.462320
10,Tennis,6477,3447,3030,0.467809
32,Hockey,1397,743,654,0.468146
23,Equestrian,8584,4548,4036,0.470177
36,Karate,152938,80509,72429,0.473584
31,Lifeguard,12737,6689,6048,0.474837
12,Taekwondo,179749,93231,86518,0.481327
17,Track and Field,15731,8148,7583,0.482042
25,Fencing,1680,865,815,0.485119
20,Gymnastics,269016,135983,133033,0.494517
37,Kabaddi,4919,2473,2446,0.497256
14,Archery,2815,1342,1473,0.523268
45,Sports for the Special Patients & Organ Receivers,2225,1053,1172,0.526742
28,Rowing,2973,1395,1578,0.530777
26,Swimming,127297,57763,69534,0.546234
50,Triathlon,2150,974,1176,0.546977
49,College Sports,4669,2033,2636,0.564575
41,Handball,17717,7439,10278,0.580121
42,Volleyball,206779,85447,121332,0.586771
2,Squash,2363,875,1488,0.629708
43,Labor Unions Sports,4760,1605,3155,0.662815
1,Skate,25972,8731,17241,0.663830
5,Badminton,20914,7029,13885,0.663909
33,Public Fitness Groups,469843,55660,414183,0.881535

In [14]:
athletes.mean()

/Users/vngo/.local/share/virtualenvs/icfj-d8_OMVAY/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Total             130250.846154
Male               75921.115385
Female             54329.730769
Percent_Female         0.402483
dtype: float64

In [16]:
athletes.median()

/Users/vngo/.local/share/virtualenvs/icfj-d8_OMVAY/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Total             12076.000000
Male               6859.000000
Female             3528.500000
Percent_Female        0.427752
dtype: float64

In [17]:
athletes.mode()

,Sports,Total,Male,Female,Percent_Female
0,Archery,229,137,0,0.000000
1,Badminton,1302,743,6,0.000160
2,Basketball,1397,809,92,0.009262
3,Biking,1460,865,263,0.044200
4,Bodybuilding and Body Sculpting,1534,875,299,0.101215
5,Bowling and Billiards,1584,974,469,0.121892
6,Boxing,1680,991,493,0.171447
7,Bureau of Prisons,2150,999,550,0.209505
8,Chess,2225,1053,585,0.257807
9,College Sports,2315,1271,654,0.280620
10,Equestrian,2363,1342,711,0.290699
11,Fencing,2453,1395,815,0.301608
12,Golf,2815,1604,842,0.307127
13,Gymnastics,2973,1605,911,0.318550
14,Handball,3826,2033,1172,0.321233
15,Hockey,4019,2154,1176,0.344753
16,Judo,4669,2225,1473,0.344805
17,K-12 Sports,4760,2473,1488,0.346035
18,Kabaddi,4919,3177,1578,0.358215
19,Karate,5434,3447,1601,0.365572
20,Kung Fu and Martial Arts,5511,3604,1907,0.369318
21,Labor Unions Sports,6477,4548,2216,0.378648
22,Lifeguard,7623,4884,2446,0.398604
23,Martial Arts,8584,5026,2636,0.401747
24,Motorcycle Racing,8928,5407,3030,0.417116
25,Mountaineering,11415,6689,3155,0.418453
26,Polo,12737,7029,3902,0.437052
27,Public Fitness Groups,15731,7439,4036,0.449087
28,Rowing,16652,8148,5965,0.462320
29,Shooting,17717,8731,6048,0.467809
30,Skate,20914,10687,7264,0.468146
31,Ski,21067,11415,7583,0.470177
32,Soccer,25972,13803,10278,0.473584
33,Sports Groups,37418,29819,11632,0.474837
34,Sports for the Blind & Visually Impaired,41451,30698,13885,0.481327
35,Sports for the Deaf,55722,37049,17241,0.482042
36,Sports for the Special Patients & Organ Receivers,56542,37412,17784,0.485119
37,Sports for the Wounded in Action & the Disabled,58964,39837,19493,0.494517
38,Squash,62792,41180,22955,0.497256
39,Swimming,98354,55660,25024,0.523268
40,Table Tennis,118129,57763,26702,0.526742
41,Taekwondo,127297,80499,34502,0.530777
42,Tennis,133829,80509,37630,0.546234
43,Total,140109,84261,55848,0.546977
44,Track and Field,152938,85447,69534,0.564575
45,Traditional Indigenous Games,179749,93231,72429,0.580121
46,Traditional Sports & Heroic Wrestling,206779,97443,86518,0.586771
47,Triathlon,269016,99327,121332,0.629708
48,Volleyball,340033,135983,133033,0.662815
49,Weightlifting,469843,182829,157204,0.663830
50,Wrestling,604122,577420,414183,0.663909
51,Wushu,3386522,1973949,1412573,0.881535