## ۱.۳ کار با داده زمان

### مقدمه‌ای بر `ماژول تاریخ-زمان`

پایتون چندین [تیپ از پیش ساخته شده](https://docs.python.org/3/library/stdtypes.html) دارد، تایپ‌هایی نظیر:

- `int`

`اینت` برای اعداد صحیح به کار می‌رود؛ به عنوان مثال `-۱` یا `۲۰۲۳`.

- `str`

`اِس‌تی‌آر` برای رشته‌ها به کار می‌رود؛ به عنوان مثال `"سلام"`، و 

- ‍‍`list`

.`لیست` برای فهرست کردن موارد، نظیر [۱، ۲، ۳] یا ["گاو", "خوک", "بز", "جوجه"] 

همچنین می‌توانیم از «کلاس‌ها» برای ایجاد تیپ‌های پیچیده‌تر استفاده کنیم. پیشتر از [کلاس](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)`دیتافریم`که در `پانداس` موجود است، استفاده کرده‌ایم. حال می‌خواهیم از کلاس‌های مختلفی که در [ماژول](https://docs.python.org/3/library/datetime.html) `تاریخ-زمان` موجود است استفاده خواهیم کرد. این کلاس‌های بخشی از کتابخانه پایتون است.

برای استفاده از ماژول `تاریخ-زمان`، ابتدا باید آن را ایمپورت کنیم. ما از مخفف `دی‌تی` یا همان 

`dt`

برای این ماژول استفاده می‌کنیم:

In [2]:
import datetime as dt

### کلاس `تاریخ-زمان`

نخستین کلاسی که در ماژول `تاریخ-زمان` بررسی خواهیم کرد، همان `تاریخ-زمان` خواهد بود. این کلاس اشیاء (آبجکت‌ها) حاوی تقویم گریگوری (سال، ماه، روز) و زمان (ساعت، دقیقه، ثانیه، میلیونیم ثانیه) است. به عنوان مثال، می‌توانیم `تاریخ-زمان` هم‌اکنون را دریافت کنیم

In [3]:
dt.datetime.now()

datetime.datetime(2023, 3, 22, 11, 47, 58, 664768)

### کلاس `تاریخ`

گاهی به دقت زمانی بالایی نیاز نداریم و فقط می‌خواهیم تاریخ را بدانیم. برای این کار، ماژول ما کلاس `تاریخ` را دارد. به عنوان مثال، می‌توانیم از آبجکت (شیء) `تاریخ` برای به دست آوردن تاریخ امروز استفاده کنیم:

In [4]:
dt.date.today()

datetime.date(2023, 3, 22)

همچنین می‌توانیم آرگومان‌هایی را وارد شیء (آبجکت) `تاریخ` بکنیم تا تاریخ مشخصی را داشته باشیم:

`dt.date(year, month, day)`

In [4]:
dt.date(2010, 12, 31)

datetime.date(2010, 12, 31)

این کتابخانه همچنین حاوی تابع‌های کمکی (یوتیلیتی) است. مثلا می‌توانیم یک رشته در فرمت ایزو را به شی (آبجکت) `تاریخ` تبدیل کنیم:

In [5]:
dt.date.fromisoformat("2010-12-31")

datetime.date(2010, 12, 31)

همچنین می‌توانیم تاریخ را در فرمت‌های مختلفی دریافت کنیم. برای تنظیم این فرمت‌ها، می‌توانید رشته فرمت خودتان را ایجاد کنیم. به عنوان مثال،  

`%d` 

روز را به صورت دورقمی نمایش می‌دهد و 

`%A`

روز هفته را به صورت کامل نمایش می‌دهد.

In [6]:
my_date = dt.date(2010, 12, 31)
print("ISO format:   " + my_date.isoformat())
print("%d/%m/%y:     " + my_date.strftime("%d/%m/%y"))
print("%A %d. %B %Y: " + my_date.strftime("%A %d. %B %Y"))

ISO format:   2010-12-31
%d/%m/%y:     31/12/10
%A %d. %B %Y: Friday 31. December 2010

تمامی رشته‌های مرتبط با تاریخ و زمان را می‌توانید در [این صفحه رسمی پایتون](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes) پیدا کنید.

### کلاس‌های دیگر

ماژول `تاریخ-زمان` چندین کلاس دیگر هم دارد؛ کلاس‌هایی نظیر:

- کلاس زمان یا همان 

`time`

که زمان را به وقت محلی به ما می‌دهد

- کلاس تایم‌دلتا یا همان

`timedelta`

که فاصله زمانی میان تو تاریخ یا ساعت را به ما نشان می‌دهد

برای اطلاعات بیشتر درباره این کلاس‌ها، همیشه می‌توانید به [مستندات مرتبط با ماژول تاریخ-زمان](https://docs.python.org/3/library/datetime.html) در صفحه رسمی پایتون مراجعه کنید.

## استفاده از `تاریخ-زمان` در دیتافریم

حال که به درکی از کلاس‌های `تاریخ-زمان` و `تاریخ` رسیدیم، بگذارید از این کلاس‌ها برای تحلیل دیتابیس‌های بزرگ در `پانداس` استفاده کنیم. فرض کنید یک فایل سی‌اِ،س‌وی داریم که هر سطر آن حاوی نام یکی از روسای جمهور ایران و تاریخ آغاز و پایان ریاست جمهوری‌اش است. می‌توانیم برای این فایل یک دیتافریم بسازیم:

In [7]:
import pandas as pd
from io import StringIO

In [8]:
csv_data = """name,took_office,left_office
Abolhassan Banisadr,4 February 1980,22 June 1981
Mohammad-Ali Rajai,2 August 1981,30 August 1981
Ali Khamenei,9 October 1981,16 August 1989
Akbar Hashemi Rafsanjani,16 August 1989,3 August 1997
Mohammad Khatami,3 August 1997,3 August 2005
Mahmoud Ahmadinejad,3 August 2005,3 August 2013
Hassan Rouhani,3 August 2013,3 August 2021
Ebrahim Raisi,3 August 2021,"""

In [9]:
presidents = pd.read_csv(StringIO(csv_data))
presidents

                       name      took_office     left_office
0       Abolhassan Banisadr  4 February 1980    22 June 1981
1        Mohammad-Ali Rajai    2 August 1981  30 August 1981
2              Ali Khamenei   9 October 1981  16 August 1989
3  Akbar Hashemi Rafsanjani   16 August 1989   3 August 1997
4          Mohammad Khatami    3 August 1997   3 August 2005
5       Mahmoud Ahmadinejad    3 August 2005   3 August 2013
6            Hassan Rouhani    3 August 2013   3 August 2021
7             Ebrahim Raisi    3 August 2021             NaN

*توجه داشته باشید که سطر هفت، ستون «پایان ریاست‌جمهوری» حاوی مقدار  

`NaN`

است. این مخفف به معنای «عددی نیست» است و در اصل به این معناست که [این داده موجود نیست](https://pandas.pydata.org/pandas-docs/dev/user_guide/gotchas.html#nan-integer-na-values-and-na-type-promotions).

حال بیایید این دیتافریم را بر اساس ستون «آغاز ریاست جمهوری» مرتب کنیم:

In [10]:
presidents.sort_values("took_office")

                       name      took_office     left_office
3  Akbar Hashemi Rafsanjani   16 August 1989   3 August 1997
1        Mohammad-Ali Rajai    2 August 1981  30 August 1981
4          Mohammad Khatami    3 August 1997   3 August 2005
5       Mahmoud Ahmadinejad    3 August 2005   3 August 2013
6            Hassan Rouhani    3 August 2013   3 August 2021
7             Ebrahim Raisi    3 August 2021             NaN
0       Abolhassan Banisadr  4 February 1980    22 June 1981
2              Ali Khamenei   9 October 1981  16 August 1989

می‌بینیم که اگرچه اکبر هاشمی رفسنجانی در اصل سومین رئیس جمهور جمهوری اسلامی است، نام او اول آمده. دلیل این امر آن است که نوع داده این ستون رشته است. از این طریق می‌توانیم از نوع یا هر ستون آگاه شویم:

In [11]:
presidents.dtypes

name           object
took_office    object
left_office    object
dtype: object

اگر بخواهیم دو ستون 

`took_office` 

و

`left_office`

را به اشیا(آبجکت‌های) تاریخ-زمان تبدیل کنیم، می‌توانیم از فرمان 

`to_datetime`

در پانداس استفاده کنیم:

In [11]:
presidents["took_office"] = pd.to_datetime(presidents["took_office"].str.strip(), format="%d %B %Y")
presidents["left_office"] = pd.to_datetime(presidents["left_office"].str.strip(), format="%d %B %Y")

In [12]:
presidents

                       name took_office left_office
0       Abolhassan Banisadr  1980-02-04  1981-06-22
1        Mohammad-Ali Rajai  1981-08-02  1981-08-30
2              Ali Khamenei  1981-10-09  1989-08-16
3  Akbar Hashemi Rafsanjani  1989-08-16  1997-08-03
4          Mohammad Khatami  1997-08-03  2005-08-03
5       Mahmoud Ahmadinejad  2005-08-03  2013-08-03
6            Hassan Rouhani  2013-08-03  2021-08-03
7             Ebrahim Raisi  2021-08-03         NaT

حال اگر نوع ستون‌هایمان را دوباره بررسی کنیم، متوجه می‌شویم که نوع دو ستونی 

`took_office` 

و

`left_office`

به `تاریخ-زمان` تغییر کرده است:

In [13]:
presidents.dtypes

name                   object
took_office    datetime64[ns]
left_office    datetime64[ns]
dtype: object

و حال اگر بار دیگر داده‌هایمان را بر اساس ستون «آغاز ریاست جمهوری» مرتب کنیم، همه‌چیز به درستی مرتب می‌شود.:

In [14]:
presidents.sort_values("took_office")

                       name took_office left_office
0       Abolhassan Banisadr  1980-02-04  1981-06-22
1        Mohammad-Ali Rajai  1981-08-02  1981-08-30
2              Ali Khamenei  1981-10-09  1989-08-16
3  Akbar Hashemi Rafsanjani  1989-08-16  1997-08-03
4          Mohammad Khatami  1997-08-03  2005-08-03
5       Mahmoud Ahmadinejad  2005-08-03  2013-08-03
6            Hassan Rouhani  2013-08-03  2021-08-03
7             Ebrahim Raisi  2021-08-03         NaT

همچنین می‌توانیم تحلیل‌های جالب‌تری روی این ستون‌ها انجام بدهیم. به عنوان مثال، می‌توانیم به مدت زمان ریاست جمهوری هر یک از این افراد دست پیدا کنیم:

In [15]:
presidents["duration"] = presidents["left_office"] - presidents["took_office"]

In [16]:
presidents

                       name took_office left_office  duration
0       Abolhassan Banisadr  1980-02-04  1981-06-22  504 days
1        Mohammad-Ali Rajai  1981-08-02  1981-08-30   28 days
2              Ali Khamenei  1981-10-09  1989-08-16 2868 days
3  Akbar Hashemi Rafsanjani  1989-08-16  1997-08-03 2909 days
4          Mohammad Khatami  1997-08-03  2005-08-03 2922 days
5       Mahmoud Ahmadinejad  2005-08-03  2013-08-03 2922 days
6            Hassan Rouhani  2013-08-03  2021-08-03 2922 days
7             Ebrahim Raisi  2021-08-03         NaT       NaT

یا اگر بخواهیم، می‌توانیم سطورمان را بر اساس کوتاه‌ترین مدت ریاست جمهوری مرتب کنیم:

In [17]:
presidents.sort_values("duration")

                       name took_office left_office  duration
1        Mohammad-Ali Rajai  1981-08-02  1981-08-30   28 days
0       Abolhassan Banisadr  1980-02-04  1981-06-22  504 days
2              Ali Khamenei  1981-10-09  1989-08-16 2868 days
3  Akbar Hashemi Rafsanjani  1989-08-16  1997-08-03 2909 days
4          Mohammad Khatami  1997-08-03  2005-08-03 2922 days
5       Mahmoud Ahmadinejad  2005-08-03  2013-08-03 2922 days
6            Hassan Rouhani  2013-08-03  2021-08-03 2922 days
7             Ebrahim Raisi  2021-08-03         NaT       NaT

## تاریخ جلالی

در داده‌های فارسی ممکن است اغلب از تقویم جلالی استفاده بشود. این در حالی است که کلاس‌های `تاریخ-زمان` بر اساس تقویم گریگوری تنظیم شده است. اما برای حل این مشکل، فردی یک [پکیج](https://pypi.org/project/jdatetime/) دیگر تهیه کرده با نام 

`jdatetime`

 که به معنای «پیاده‌سازی تقویم جلالی بر اساس ماژول تاریخ-زمان پایتون» است.

In [25]:
import jdatetime as jdt

با این پکیج می‌توانیم بسیاری از همان کارهایی را که با ماژول `تاریخ-زمان` انجام می‌دهیم، انجام بدهیم. به عنوان مثال دریافت `تاریخ-زمان` و `تاریخ` بر اساس تقویم جلالی:

In [26]:
jdt.datetime.now()

jdatetime.datetime(1402, 1, 2, 12, 48, 10, 738213)

In [27]:
jdt.date.today()

jdatetime.date(1402, 1, 2)

### تبدیل تقویم گریگوری به جلالی

این پکیج همچنین امکان تبدیل تاریخ گریگوری به جلالی و برعکس را به ما می‌دهد.

In [28]:
jdt.date.fromgregorian(day=31, month=12, year=2010)

jdatetime.date(1389, 10, 10)

In [29]:
jdt.date(1389,10,10).togregorian()

datetime.date(2010, 12, 31)

### فرمت کردن رشته‌های تاریخ جلالی

توجه داشته باشید که برای فرمت کردن این رشته‌ها به منظور ساخت اشیای تاریخ و تاریخ-زمان، ممکن است لازم باشد از آرگومان 

`locale`

استفاده کنید:

`locale="fa_IR"`

در غیر این صورت، ممکن است رشته شما با حروف لاتین نوشته شوند.

In [30]:
en_date = jdt.date(1397, 4, 23)
fa_date = jdt.date(1397, 4, 23, locale="fa_IR")

print(en_date.strftime("%A, %d %b %Y"))
print(fa_date.strftime("%A, %d %b %Y"))

Saturday, 23 Tir 1397
شنبه, 23 تیر 1397

### تاریخ جلالی در دیتافریم

حال بیایید به یک مثال کوچک در خصوص دیتافریم با تاریخ جلالی نگاه کنیم. در اینجا ما از داده مرتبط با [مصرف فرآورده‌های انرژی‌ زا](https://iranopendata.org/fa_IR/dataset/consumption-energy-products-2-1355-1397) استفاده خواهیم کرد.

In [31]:
df = pd.read_csv("../../input/niocnre2144-consumption-energy-products-2-1355-1397-fa.csv")

FileNotFoundError: [Errno 2] No such file or directory: '../../input/niocnre2144-consumption-energy-products-2-1355-1397-fa.csv'

In [32]:
df.head()

NameError: name 'df' is not defined

می‌بینیم که سال‌ها به صورت اعداد صحیح خوانده می‌شوند.

In [33]:
df.dtypes

NameError: name 'df' is not defined

اگر بخواهیم تاریخ را به تاریخ جلالی تغییر بدهیم، می‌توانیم از فرمان

apply()

که در دیتافریم دارای کلاس است استفاده کنیم. حال می‌توانیم ازن فرمان را برای هر سطر اجرا کنیم. برای این مورد، ما «سال» موجود در هر سطر را برداشته و از آن برای ساخت یک شیء تاریخ بر اساس کتابخانه

jdatetime

استفاده می‌کنیم:

In [34]:
df["jdt_year"] = df.apply(lambda row: jdt.date(row["year"], 1, 1), axis=1)

NameError: name 'df' is not defined

In [35]:
df.head()

NameError: name 'df' is not defined

حال که از کلاس تاریخ در ماژول 

jdatetime

استفاده می‌کنیم، می‌توانیم از فرمان

togregorian()

برای تبدیل تاریخ جلالی به گریگوری استفاده کنیم.

In [36]:
df["dt_year"] = df.apply(lambda row: row["jdt_year"].togregorian(), axis=1)

NameError: name 'df' is not defined

In [37]:
df.head()

NameError: name 'df' is not defined